@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
};

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #CAEB66;
    --color-secondary: #03373D;
}

body {
  background-color: #EAECED;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  width: 100%;
  background-color: #f5f5f5; 
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container p {
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
}